.modal-child-element {
    display: block;
}
.modal-child-element>img {
    width:400px;
    height: 250px;
}
.modal-child-element>button {
    border: none;
    width: 70px;
    height: 2em;
    margin-top: 15px;
    background-color: crimson;
    border-radius: 5%;
}
.modal-child-element {
    padding: .2em;
}
.modal-child-element:nth-child(2){
    font-style: italic;
}
.modal-child-element:nth-child(4){
    font-size: 13px;
}
